
@import 'common';

// app icons
.icon-grid {
  row-spacing: 12px;
  column-spacing: 12px;
  max-row-spacing: 72px;
  max-column-spacing: 72px;
  page-padding-top: 24px;
  page-padding-bottom: 24px;
  page-padding-left: 12px;
  page-padding-right: 12px;
}

.app-folder-dialog {
  .page-navigation-hint {
    width: 80px;
  }

  .page-navigation-arrow {
    margin: 18px;
  }
}

.apps-scroll-view {
  padding: 0;
}

.page-navigation-hint {
  width: 300px;

  &.dnd {
    background: rgba(255, 255, 255, 0.1);
  }

  &.next:ltr,
  &.previous:rtl {
    background-gradient-start: $inverse_divider_color;
    background-gradient-end: transparent;
    background-gradient-direction: horizontal;
    border-radius: 32px 0px 0px 32px;
  }

  &.previous:ltr,
  &.next:rtl {
    background-gradient-start: transparent;
    background-gradient-end: $inverse_divider_color;
    background-gradient-direction: horizontal;
    border-radius: 0px 32px 32px 0px;
  }
}

.page-navigation-arrow {
  margin: $base_padding;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  color: $inverse_secondary_fg_color;
  icon-size: 24px;

  &:insensitive { @include button(flat-insensitive, $tc:$inverse_fg_color); }
  &:hover { @include button(flat-hover, $tc:$inverse_fg_color); }
  &:active { @include button(flat-active, $tc:$inverse_fg_color); }
}

// Dash
$dash_background_color: $inverse_divider_color;
$dash_placeholder_size: 32px;
$dash_padding: 10px;
$dash_spacing: 2px;
$dash_bottom_margin: 24px;
$dash_border_radius: $dash_padding + $icon_radius;

#dash {
  margin-top: $base_padding * 2;
  padding: 0 $dash_padding;

  .placeholder {
    background-image: none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .overview-icon {
    padding: $dash_padding - 2px;
    // border-radius: $icon_radius;
  }
}

.dash-background {
  background-color: $dash_background_color;
  margin-bottom: $dash_bottom_margin;
  padding: $dash_padding $dash_padding - $dash_spacing;
  border-radius: $dash_border_radius;
}

// Dash Items
.dash-item-container .app-well-app, .show-apps {
  padding: $dash_padding $dash_spacing $dash_padding + $dash_bottom_margin;
}

.dash-separator {
  width: 1px;
  margin: 0 ($dash_spacing + ($dash_padding / 2)) $dash_bottom_margin;
  background-color: rgba(white, 0.25);
}

// OSD Tooltip
.dash-label {
  color: $inverse_secondary_fg_color;
  background-color: rgba(black, 0.75);
  border-radius: $circular_radius;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  border: none;
  -y-offset: 10px; // distance from the dash edge
}

// Workspace animation
.workspace-animation {
  background-color: rgba($gdm_bg_color, 1);
}

// reset prev/next month icons
.calendar {
  .calendar-change-month-back,
  .calendar-change-month-forward {
    padding: 0 2px;
  }
}

// Overview
.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: rgba($gdm_bg_color, 1);
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#unlockDialogNotifications {
  StButton#vhandle, StButton#hhandle {
    background-color: transparentize($gdm_bg_color, 0.7);
    &:hover, &:focus { background-color: transparentize($gdm_bg_color, 0.5); }
    &:active { background-color: transparentize($primary_color, 0.5); }
  }
}

.search-entry {
  margin-top: $base_padding * 4;
  margin-bottom: $base_padding;
}

// Window picker
.window-picker {
  // Space between window thumbnails
  spacing: $base_padding;
}

// Window titles
.window-caption {
  color: $inverse_secondary_fg_color;
  background-color: rgba(black, 0.75);
  border-radius: $circular_radius;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  border: none;
}

$window_close_button_size: 30px;
$window_close_button_padding: 3px;

// Close button
.window-close {
  background-color: rgba($destructive_color, 1);
  color: white;
  border-radius: $window_close_button_size * 0.5 + $window_close_button_padding * 2;
  padding: $window_close_button_padding;
  height: $window_close_button_size;
  width: $window_close_button_size;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.5);
  transition-duration: 300ms;

  StIcon {
    color: white;
  }

  &:hover {
    color: white;
    background-color: lighten(rgba($destructive_color, 1), 6%);
  }

  &:active {
    color: white;
    background-color: darken(rgba($destructive_color, 1), 6%);
  }
}

.workspace-background {
  // keep in sync with BACKGROUND_CORNER_RADIUS_PIXELS in workspace.js
  border-radius: 30px;
  background-color: $gdm_bg_color;
  box-shadow: 0 4px 16px 4px transparentize(darken($gdm_bg_color, 30%), 0.7);
}

/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  visible-width: 32px; //amount visible before hover
  spacing: $base_padding;
  padding: $base_padding;

  .workspace-thumbnail {
    color: $inverse_secondary_fg_color;
    background-color: $inverse_divider_color;
    border: none;
    border-radius: $buttons_radius;
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("assets/dash-placeholder.svg");
    background-size: contain;
    width: 18px;
    height: 24px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 3px solid $primary_color;
  border-radius: 9px;
  padding: 0px;
  // background-color: transparentize($primary_color, 0.9);
}

//
// Popup menu
//

.popup-menu {
  .popup-menu-item {
    padding: $base_padding;

    &:ltr { padding-right: $base_padding * 3 !important; padding-left: $base_padding * 3 !important; }
    &:rtl { padding-left: $base_padding * 3 !important; padding-right: $base_padding * 3 !important; }
  }

  .popup-sub-menu .popup-menu-item {
    background-color: transparent;
  }
}

// separator
.popup-separator-menu-item {
  border: none !important;
  padding: $base_padding 0 !important;

  .popup-separator-menu-item-separator {
    height: 1px; //not really the whole box
    background-color: $border_color;
  }

  .popup-menu-ornament {
    width: 0 !important;
  }

  // separators in submenus
  .popup-sub-menu & {
    background-color: transparent;

    // account for ornament
    &:ltr { margin-right: 2.5em; }
    &:rtl { margin-left: 2.5em; }

    .popup-separator-menu-item-separator {
      background-color: $border_color;
    }
  }
}

// system status popover menu
.aggregate-menu {
  .popup-menu-item > :first-child {
    &:ltr { padding-left: 0 !important; margin-left: 0 !important; }
    &:rtl { padding-right: 0 !important; margin-right: 0 !important; }
  }

  .popup-sub-menu .popup-menu-item > :first-child {
    &:ltr { padding-left: $base_padding * 2 !important; margin-left: $base_padding / 2 !important; }
    &:rtl { padding-right: $base_padding * 2 !important; margin-right: $base_padding / 2 !important; }
  }
}

//
// OSD window
//

.osd-window {
  spacing: $base_padding * 2; // 12px
  padding: $base_padding * 2 $base_padding * 3;
  & > * { spacing: 8px; }
  margin-bottom: 4em;

  StIcon { icon-size: 32px; } // 32px

  StLabel {
    &:ltr { margin-right: $base_padding; }
    &:rtl { margin-left: $base_padding; }
  }
}

//
// Quick Settings Popup
//

.quick-settings {
  padding: $base_padding * 2 !important;
  border-radius: $menu_radius * 4 !important;
  margin-top: $base_padding + 2px !important;

  .icon-button, .button {
    padding: $base_padding * 1.5;
  }
}

.quick-settings-grid {
  spacing-rows: $base_padding * 2;
  spacing-columns: $base_padding * 2;
}

.quick-toggle, .quick-menu-toggle {
  border-radius: $circular_radius;
  min-width: 12em;
  max-width: 12em;
  min-height: 42px;
  border: none;
}

.quick-toggle {
  background-color: $divider_color !important;
  color: $fg_color;

  &:hover {
    background-color: $semi_fill_color !important;
  }

  &:active {
    background-color: $track_color !important;
  }

  &:checked {
    background-color: $primary_color !important;
    color: $inverse_fg_color;

    &:hover {
      background-color: mix($inverse_fg_color, $primary_color, 6%) !important;
      color: $inverse_fg_color;
    }

    &:active {
      background-color: mix($inverse_fg_color, $primary_color, 15%) !important;
      color: $inverse_fg_color;
    }
  }

  & > StBoxLayout { spacing: $base_padding; }

  /* Move padding into the box; this is to allow menu arrows
     to extend to the border */
  &.button { padding: 0; }
  & > StBoxLayout { padding: 0 $base_padding * 2; }
  &:ltr > StBoxLayout { padding-left: $base_padding * 2.5; }
  &:rtl > StBoxLayout { padding-right: $base_padding * 2.5; }

  .quick-toggle-label { font-weight: bold; }
  .quick-toggle-icon, .quick-toggle-arrow { icon-size: 16px; }
}

.quick-menu-toggle {
  &:ltr > StBoxLayout { padding-right: 0; }
  &:rtl > StBoxLayout { padding-left: 0; }

  .quick-toggle {
    min-width: auto;
    max-width: auto;

    &:ltr { border-radius: 99px 0 0 99px; }
    &:ltr > StBoxLayout { padding-right: $base_padding * 1.5; }
    &:rtl { border-radius: 0 99px 99px 0; }
    &:rtr > StBoxLayout { padding-left: $base_padding * 1.5; }

    &:ltr:last-child { border-radius: 99px; }
    &:rtl:last-child { border-radius: 99px; }
  }

  .quick-toggle-arrow {
    background-color: $divider_color !important;
    padding: $base_padding $base_padding * 1.75;
    border-width: 0;
    color: $fg_color;

    background-color: $divider_color !important;

    &:hover {
      background-color: $semi_fill_color !important;
    }
  
    &:active {
      background-color: $track_color !important;
    }
  
    &:checked {
      background-color: $primary_color !important;
      color: $inverse_fg_color;
  
      &:hover {
        background-color: mix($inverse_fg_color, $primary_color, 6%) !important;
        color: $inverse_fg_color;
      }
  
      &:active {
        background-color: mix($inverse_fg_color, $primary_color, 15%) !important;
        color: $inverse_fg_color;
      }
    }

    &:ltr {
      border-radius: 0 $circular_radius $circular_radius 0;
      border-left-width: 0;
    }

    &:rtl {
      border-radius: $circular_radius 0 0 $circular_radius;
      border-right-width: 0;
    }
  }
}

.quick-slider {
  & > StBoxLayout { spacing: $base_padding; }

  .slider-bin {
    &:focus { @include button(focus); }
    min-height: 16px; // slider size
    padding: $base_padding;
    border-radius: $circular_radius;
  }

  .quick-toggle-icon {
    icon-size: 16px;
  }

  .icon-button {
    background-color: transparent;
    color: $button_fg_color !important;
    padding: $base_padding * 1.5;

    &:hover {
      background-color: $divider_color;
    }

    &:active {
      background-color: $semi_fill_color;
    }
  }
}

.quick-toggle-menu {
  background-color: $base_color !important;
  color: $button_fg_color !important;
  border-radius: $menu_radius * 3;
  padding: $base_padding * 2;
  margin: $base_padding * 2 $base_padding * 4 0;

  .popup-menu-item {
    border-radius: $circular_radius !important;
    padding: $base_padding * 1.5 $base_padding * 3 !important;

    &:focus, &:hover, &.selected {
      color: $button_fg_color !important;
      background-color: $semi_fill_color !important;
    }

    > StIcon { -st-icon-style: symbolic; }
  }

  .popup-separator-menu-item {
    padding: $base_padding 0 !important;
    margin: 0 !important;

    // .popup-separator-menu-item-separator {
    //   margin: 0 !important;
    // }
  }

  & .header {
    spacing-rows: 0.5 * $base_padding;
    spacing-columns: $base_padding * 2;
    padding-bottom: 2 * $base_padding;

    & .icon {
      icon-size: 16px * 1.5; // a non-standard symbolic size but ok
      border-radius: $circular_radius;
      padding: 1.5 * $base_padding;
      background-color: $semi_fill_color !important;

      &.active {
        background-color: $primary_color !important;
        color: $inverse_fg_color;
      }
    }

    & .title {
      @extend %title_3;
    }

    & .subtitle {
      @extend %caption_heading;
    }
  }
}

.quick-settings-system-item {
  & > StBoxLayout { spacing: 2 * $base_padding; }

  .icon-button {
    background-color: $row_fill_color;
    color: $button_fg_color;
    border-radius: $circular_radius;
    min-height: 24px;
    min-width: 24px;

    &:hover { @include button(flat-hover); }
    &:active { @include button(flat-active); }

    > StIcon { -st-icon-style: symbolic; }
  }

  & .power-item {
    min-height: 0;
    min-width: 0;

    &:insensitive {
      @include button(normal);
      background-color: transparent;
    }
  }
}

.nm-network-item {
  .wireless-secure-icon { icon-size: 0.5 * 16px; }
}

.bt-device-item {
  .popup-menu-icon { -st-icon-style: symbolic; }
}

.bt-menu-placeholder.popup-menu-item {
  @extend %title_4;
  text-align: center;

  padding: 2em 4em;
}

.device-subtitle { color: transparentize($fg_color, 0.5); }

// background apps

.background-apps-quick-toggle {
  min-height: 40px;
  background-color: transparent;

  & StIcon { icon-size: 16px !important; }
}

.background-app-item {
  & .title { @extend %heading; }
  & .subtitle { @extend %caption; }
  & .popup-menu-icon {
    icon-size: 32px !important;
    -st-icon-style: regular !important;
  }
  & .close-button {
    @extend .icon-button;
    padding: $base_padding;
  }

  &.popup-inactive-menu-item { color: $fg_color; }
}

//
// Screenshot UI
//

.icon-label-button-container {
  spacing: $base_padding;
  @extend %caption;

  StIcon { icon-size: 32px;}
}

$screenshot_ui_panel_padding: $base_padding * 3;
$screenshot_ui_shot_cast_margin: 21px;
$screenshot_ui_panel_border_radius: $windows_radius + $screenshot_ui_shot_cast_margin;
$screenshot_ui_shot_cast_spacing: 3px;

$screenshot_ui_button_red: $error_color;

.screenshot-ui-panel {
  @extend %osd_panel;
  border-radius: $screenshot_ui_panel_border_radius;
  padding: $screenshot_ui_panel_padding;
  // Reduce the bottom padding a little to accommodate the large capture button.
  padding-bottom: $screenshot_ui_panel_padding - 6px;
  margin-bottom: 4em;
  spacing: $base_padding * 2;
}

.screenshot-ui-close-button {
  @extend .window-close; // copy window close button
  padding: $base_padding !important; // but with more padding
  margin-top: 12px;
  box-shadow: 0 2px 4px 0 rgba(black, 0.15);
  &.left { margin-left: 12px; }
  &.right { margin-right: 12px; }
}

.screenshot-ui-type-button {
  @extend %osd_button;
  min-width: 48px;
  padding: $base_padding * 2 $base_padding * 3 !important;
  border-radius: $screenshot_ui_panel_border_radius - $screenshot_ui_panel_padding;
}

.screenshot-ui-capture-button {
  width: 36px;
  height: 36px;
  border-radius: 99px;
  border: 4px $inverse_fg_color;
  padding: 4px;

  .screenshot-ui-capture-button-circle {
    background-color: $inverse_secondary_fg_color;
    transition-duration: 200ms;
    border-radius: 99px;

    &:hover, &:focus { background-color: $inverse_fg_color; }
    &:active { background-color: $inverse_disabled_secondary_fg_color; }
  }

  &:hover, &:focus {
    .screenshot-ui-capture-button-circle {
      background-color: $inverse_fg_color;
    }
  }

  &:active {
    .screenshot-ui-capture-button-circle {
      background-color: $inverse_disabled_secondary_fg_color;
    }
  }

  &:cast {
    .screenshot-ui-capture-button-circle {
      background-color: $screenshot_ui_button_red;
    }
    &:hover, &:focus {
      .screenshot-ui-capture-button-circle {
        background-color: lighten($screenshot_ui_button_red, 5%);
      }
    }
    &:active {
      .screenshot-ui-capture-button-circle {
        background-color: darken($screenshot_ui_button_red, 7%);
      }
    }
  }
}

.screenshot-ui-shot-cast-container {
  background-color: lighten($gdm_bg_color, 5%);
  border-radius: $windows_radius;
  padding: $screenshot_ui_shot_cast_spacing;
  spacing: $screenshot_ui_shot_cast_spacing;

  &:ltr { margin-left: $screenshot_ui_shot_cast_margin - $screenshot_ui_panel_padding; }
  &:rtl { margin-right: $screenshot_ui_shot_cast_margin - $screenshot_ui_panel_padding; }
}

.screenshot-ui-shot-cast-button {
  padding: $base_padding $base_padding * 2;
  background-color: transparent;

  &:hover, &:focus { background-color: lighten($gdm_bg_color, 10%); }
  &:active { background-color: lighten($gdm_bg_color, 15%); }
  &:checked { background-color: white; color: black; }
  &:insensitive { color: transparentize($inverse_fg_color, 0.5); }

  border-radius: $windows_radius - $screenshot_ui_shot_cast_spacing;

  StIcon { icon-size: 16px; }
}

.screenshot-ui-show-pointer-button {
  @extend %osd_button;
  border-radius: 99px;
  padding: $base_padding * 2 !important;
  StIcon { icon-size: 16px; }
}

.screenshot-ui-area-indicator-shade {
  background-color: rgba(0,0,0,.3);
}

.screenshot-ui-area-selector {
  .screenshot-ui-area-indicator-shade {
    background-color: rgba(0,0,0,.5);
  }

  .screenshot-ui-area-indicator-selection {
    border: 2px white;
  }
}

.screenshot-ui-area-selector-handle {
  border-radius: 99px;
  background-color: white;
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);
  width: 24px;
  height: 24px;
}

.screenshot-ui-window-selector {
  background-color: $gdm_bg_color;

  .screenshot-ui-window-selector-window-container {
    margin: 100px;
  }

  &:primary-monitor {
    .screenshot-ui-window-selector-window-container {
      // Make some room for the panel.
      margin-bottom: 200px;
    }
  }
}

.screenshot-ui-window-selector-window-border {
  transition-duration: 200ms;
  border-radius: $windows_radius;
  border: 6px transparent;
}

.screenshot-ui-window-selector-check {
  transition-duration: 200ms;
  color: transparent;
  border-radius: 99px;
  border-width: 12px;
  icon-size: 24px;
}

.screenshot-ui-window-selector-window {
  &:hover {
    .screenshot-ui-window-selector-window-border {
      border-color: darken($primary_color, 15%);
    }
  }
  &:checked {
    .screenshot-ui-window-selector-window-border {
      border-color: $primary_color;
      background-color: transparentize($primary_color, 0.8);
    }

    .screenshot-ui-window-selector-check {
      color: $inverse_fg_color;
      background-color: $primary_color;
    }
  }
}

.screenshot-ui-screen-selector {
  transition-duration: 200ms;
  background-color: rgba(0,0,0,.5);

  &:hover { background-color: rgba(0,0,0,.3);}
  &:active { background-color: rgba(0,0,0,.7);}
  &:checked {
    background-color: transparent;
    border: 2px white;
  }
}

.screenshot-ui-tooltip {
  color: $inverse_fg_color;
  background-color: $gdm_bg_color;
  border-radius: 99px;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  -y-offset: 24px;
}
