$variant: 'dark';
$contrast: 'normal';
$compact: 'false';

@import '../../_sass/gnome-shell/46-0/colors';
@import '../../_sass/gnome-shell/46-0/drawing';
@import '../../_sass/gnome-shell/46-0/common';
@import '../../_sass/gnome-shell/46-0/widgets';
@import '../../_sass/gnome-shell/46-0/extensions';
