$variant: 'light';
$titlebar: 'light';
$compact: 'true';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/common-42-0';
@import '../../_sass/gnome-shell/quick-settings';
@import '../../_sass/gnome-shell/extensions-40-0';
