$variant: 'light';
$contrast: 'normal';
$compact: 'false';

@import '../../_sass/gnome-shell/new/colors';
@import '../../_sass/gnome-shell/new/drawing';
@import '../../_sass/gnome-shell/new/common';
@import '../../_sass/gnome-shell/new/widgets-48.0';
@import '../../_sass/gnome-shell/new/extensions';
