/* Switches */

$switch_width: 36px;
$switch_height: 20px;
$switch_handle_size: 28px;

.toggle-switch {
  width: $switch_width;
  height: $switch_height;
  border-radius: $forced_circular_radius;
  transition-duration: 100ms;
  color: $fg_color;
  border: 10px solid $menu_bg_color;

  @if $contrast == 'high' {
    background: transparentize(if($variant == 'light', black, white), .7);

    &:hover {
      background: transparentize(if($variant == 'light', black, white), .6);
    }
  } @else {
    background: transparentize(if($variant == 'light', black, white), .85);

    &:hover {
      background: transparentize(if($variant == 'light', black, white), .8);
    }
  }

  StIcon {
    icon-size: $base_icon_size;
  }

  .handle {
    margin: 0;
    width: $switch_handle_size;
    height: $switch_handle_size;
    border-radius: $forced_circular_radius;
    background: if($variant == 'light', white, mix(white, $bg_color, 80%));
    box-shadow: 0 1px 3px transparentize(black, .9);
    transition-duration: 100ms;
  }

  &:checked {
    background: transparentize($selected_bg_color, 0.65);
    color: $selected_fg_color;

    &:hover {
      background-color: transparentize($selected_bg_color, 0.6);
      color: lighten($selected_fg_color, 5%);
    }

    .handle {
      background: $selected_bg_color;
    }
  }
}
